<style type="text/css"></style>

<p class="dialog-title">Edit: Measurement Size</p><br>

<div ng-show="false">
	{{ type }}
</div>


<div id="mte">
	
	<input type="text" name="" ng-model="size.friendly_name"><br>
	<label>Measurement Size Name</label><br><br>

	<input type="number" name="" ng-model="size.value"><br>
	<label>Measurement Size Value</label>


	<div class="form-actions">
		<span class="btn btn-clear" ng-click="closeThis()">Close</span>
		<span class="btn" ng-click="saveThis(size)">Save</span>
	</div>
	
	<!--button ng-click="saveThis(type)">Clicky</button-->

</div>


